@import url(./reset.css);
@import url(./header.css);
@import url(./sidebar.css);

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  "sidebar content";
}

main #content {
  background-color: springgreen;
  grid-area: content;
}